<!DOCTYPE html>
<html>
  <head>
    <title>TweetableIndividual</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body class="bg-1">
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <section class="section">
      <header class = "container">
      <nav class= "navbar">
        <ul class="flex gap-1 content-right items-center">
          <% if user_signed_in? %>
            <li> <%= link_to "Edit Profile", edit_user_registration_path, class:"primary-color" %> </li>
            <li class="button button--secondary">
              <%= link_to  "Log out", destroy_user_session_path, class: "primary-color", data: { turbo_method: :delete} %>
            </li>
          <% else %>
            <li class="button button--secondary">
              <%= link_to "Login", new_user_session_path, class: "primary-color" %>
            </li>
          <% end %>
        </ul>
      </nav>
      </header>
      <%= yield %>
    </section>
  </body>
</html>
